thead{
    border: 2px solid #000000;
    border-collapse: collapse;
  }
  tr{
    border: 2px solid #000000;
    border-collapse: collapse;
  }
  td{
    border: 2px solid #000000;
    border-collapse: collapse;
  }