.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container{
  background-image:url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1060&t=st=1685072680~exp=1685073280~hmac=fb901a8693de466b47ccae680eb2411d20dcc8d8fad6ffabcc92058f826acce6');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.app-container{
  text-align: center;
}
.table-tag{
  border: 2px solid #000000;
  border-collapse: collapse;
}
th{
  border: 2px solid #000000;
  border-collapse: collapse;
}
thead{
  border: 2px solid #000000;
  border-collapse: collapse;
}